<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Kamera erişimi gerekiyor</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Bu uygulama dosya seçmek için galeriye erişmek istiyor.</string>
	<key>NSDocumentTypes</key>
	<array>
 	 	<string>public.content</string>
 		 <string>public.data</string>
	</array>
	<key>NSAppTransportSecurity</key>
		<dict>
  			<key>NSAllowsArbitraryLoads</key>
  			<true/>
		</dict>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Konum bilgisine ihtiyacımız var</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Galeriye erişim gerekiyor</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Uygulama fotoğraf galerisine erişmek istiyor</string>
	<key>NSCameraUsageDescription</key>
	<string>Uygulama kamera kullanım izni istiyor</string>	
	<key>CFBundleDisplayName</key>
	<string>Edusocial</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>edusocial</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>edusocial</string>
			</array>
			<key>CFBundleURLName</key>
			<string>com.edusocial.app</string>
		</dict>
	</array>
	<!-- OneSignal için gerekli ayarlar -->
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>OneSignal_disable_badge_clearing</key>
	<true/>
	<key>OneSignal_location_shared</key>
	<false/>
</dict>
</plist>
