<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>edusocial.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
				<key>dateExpires</key>
				<string>12.05.2026</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalFramework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalInAppMessages.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLiveActivities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalLocation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalNotifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOSCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalOutcomes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OneSignalUser.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_settings.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>5.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C62CBBA2EEE380E3DE11C754D502155CB11EC0EC</string>
						<key>dateExpires</key>
						<string>12.05.2026</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>8C4QC7344Y</string>
						<key>name</key>
						<string>Alaettin Topal</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>8C4QC7344Y.com.alaettintopal.edusocial</string>
				<key>com.apple.developer.team-identifier</key>
				<string>8C4QC7344Y</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>49aaaef6-89de-49a1-bc97-99fbfa7894cc</string>
				<key>dateExpires</key>
				<string>12.05.2026</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.alaettintopal.edusocial</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>8C4QC7344Y</string>
				<key>name</key>
				<string>Alaettin Topal</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
